@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #000000 0%, #020617 38%, #082f63 100%);
  color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000 0%, #020617 38%, #082f63 100%);
}